html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0d8;
}
.font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20px;
    font-style: normal;
}
.container{
    width: 100%;
    height: 100vh;
}

/* nav */
.nav{
    display: flex;
    background-color: #649c55;
}
.nav a {
    text-decoration: none;
    color: black;
}
.title-nav {
    padding: 15px;
    font-weight: bold;
    flex: 1;
    color: white;
}
.menu-nav {
    padding: 15px;
}
.menu-nav a {
    padding: 15px 0 15px 15px;
    color: white
}
.menu-nav a:hover{
    color: #89ff91;
}
.menu-nav-mobile{
    flex: 1;
    padding: 15px;
    text-align: left;
    display: none;
}
.icon_menu-mobile{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.options_menu-mobile{
    margin-top: 15px;
   
}

.options_menu-mobile a{
    margin-bottom: 10px;
    display: flex; /* para os links ficarem um a baixo do outro*/
}

#options{
    display: none; 
    /* Esconda a div inicialmente */
}

/* content */

/* banner */
.banner{
    background-color: #407f46;
    text-align: center;
    display: flex;
    position: relative;
}
.banner img{
    height: auto;
    width: 100%;
    opacity: 0.2;
}
.banner h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 35px;
    font-weight: bold;
}

/* ODS */
.ods-title{
    text-align: center;
    padding: 30px 0 15px 0 ;
    color:#649c55 ;
}
.ods-explicacao {
    margin: 15px 30px;
    text-align:justify;
    display: grid;
    grid-template-columns: repeat(2,6fr);
    gap: 30px;
}
.ods-texto{
    text-align: justify;
}
.ods-img img{
    height: auto;
    width: 100%;
    padding: 7px 7px;
    background-color: #5dbe69;
}
.ods-explicacao h1{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* ods-13 */
.ods-13{
    background-color: #8dbd7c;
    padding-bottom: 30px;

}

.ods-13 h2{
    text-align: center;
    padding: 30px 30px 15px 30px;
    color: white;

}

/* explicacao */
.explicacao{
    margin: 0px 60px 15px 60px;
    text-align:justify;
    display: grid;
    grid-template-columns: 1fr 11fr ;
    gap: 30px;
}
.explicacao-texto{
    text-align: justify;
    justify-self: initial; 
}
.explicacao-img img{
    height: auto;
    width: 100%;
    padding: 7px 7px;
    background-color: #5dbe69;
}
.explicacao-img{
    width: 240px;
    height: 240px;
}
.explicacao h2{
    padding-top: 30px;
}
.explicacao p{
    text-align:justify;
    color: black;
}

/* objetivos-title */
.objetivos-title{
    text-align: center;
    color: white ;
}

/* objetivos */
.objetivos{
    margin: 20px 0 40px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 30px;
    
} 
.obj{
    background-color: #604848;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
}

/* article */
.article{
    text-align: center;
    color: #5dce6a;
    padding: 50px;
}
.article p{
    color: black;
}

/* footer */
.footer{
    background-color: #649c55;
    height: 80px;
    text-align: center;
    padding-top: 40px;
}


@media( max-width: 700px ){
    .banner h1{
        font-size: 20px;
    }
    .menu-nav-mobile{
       display: block;
    }
    .menu-nav{
        display: none;
    }
    .title-nav{
        flex:none;
    }
    .ods-explicacao{
        grid-template-columns: 1fr;
    }
    .explicacao{
        grid-template-columns: 1fr;
    }
    .explicacao-img{
        justify-self: center;  
    }
}

@media( min-width: 1600px ){
    .banner h1{
        font-size: 70px;
    }
}